@model RequestDto
@{
    ViewData["Title"] = "Request Details";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}

<h1>Request Details</h1>


<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label asp-for="@Model.Id" class="col-form-label"></label>
            <input asp-for="@Model.Id" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="@Model.PatientId" class="col-form-label"></label>
            <input asp-for="@Model.PatientId" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="@Model.DonorId" class="col-form-label"></label>
            <input asp-for="@Model.DonorId" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="@Model.BloodType" class="col-form-label"></label>
            <input asp-for="@Model.BloodType" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="@Model.NumOfBags" class="col-form-label"></label>
            <input asp-for="@Model.NumOfBags" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="@Model.DateTime" class="col-form-label"></label>
            <input asp-for="@Model.DateTime" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Governorate" class="col-form-label"></label>
            <input asp-for="@Model.Governorate" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Province" class="col-form-label"></label>
            <input asp-for="@Model.Province" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label asp-for="@Model.State" class="col-form-label"></label>
            <input asp-for="@Model.State" class="form-control" readonly />
        </div>
        <br />
        <a class="btn btn-success" asp-action="Update" asp-route-id="@Model.Id">Update</a>
        <a class="btn btn-light" asp-controller="Admin" asp-action="Requests">Back To List</a>
    </div>
</div>
